// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 800px;

// Neat Breakpoints
$mobile-screen: 480px;
$medium-screen: 600px;
$large-screen: 800px;

$mobile: new-breakpoint(max-width $mobile-screen 4);
$mobile-up: new-breakpoint(min-width $mobile-screen 4);

$tablet: new-breakpoint(max-width $medium-screen 4);
$tablet-up: new-breakpoint(min-width $medium-screen 4);

$desktop-up: new-breakpoint(min-width $large-screen 8);

%clearfix {
  @include clearfix;
}