// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 800px;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 800px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

%clearfix {
  @include clearfix;
}