/*=====================================
=            Layout styles            =
=====================================*/
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,700");

html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  border-top: 5px solid $primary-color;
  background: $base-background-color url("../images/bg-pattern.png");
}

.container {
  @include outer-container;
  padding: {
    left: $small-spacing;
    right: $small-spacing;
  };
}

.card {
  background-color: $white-color;
  box-shadow: 0 2px 1px rgba($black-color, .1);
  margin: 0 0 $base-spacing;
  padding: $base-spacing $small-spacing;

  @include media($mobile-up) {
    padding: $base-spacing;
  }
}

.site-header {
  @extend %clearfix;
  background-color: $white-color;
  padding: $base-spacing 0;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid rgba($light-gray-color, .5);

  h1 {
    margin: 0;
    padding: 5px 0;
    float: left;
    font-weight: $font-weight-normal;
    font-size: rem(20);

    span {
      color: $primary-color;
    }
  }

  h1, a {
    text-transform: lowercase;
  }

  .navbar {
    float: right;
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:focus,
    &:active {
      color: $dark-gray-color;
    }
  }

  @include media($mobile) {
    .container {
      padding-left: $base-spacing;
      padding-right: $base-spacing;
    }
  }
}

.sliding-panel-button {
  float: right;
  @extend .btn;
  padding: 5px;

  span {
    width: 30px;
    display: block;
    height: 3px;
    border-radius: 2px;
    background: $white-color;
    margin: 3px 0;
  }

  @include media($mobile-up) {
    display: none;
  }
}

@include media($mobile) {
  $sliding-panel-width: 220px;

  .sliding-panel-content {
    border-top: 5px solid $primary-color;
    @include position(fixed, 0 auto 0 0);
    @include size($sliding-panel-width 100%);
    @include transform(translateX(-100%));
    @include transition(all 0.25s linear);
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    z-index: 999999;

    &.is-visible {
      @include transform(translateX(0));
    }
  }

  .sliding-panel-fade-screen {
    @include position(fixed, 0 0 0 0);
    @include transition;
    background: #000;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }
  }

  .sliding-panel-close {
    cursor: pointer;
  }
}

.navbar {
  li, a {
    display: inline-block;
  }

  a {
    padding: 5px 15px;

    @include media($tablet) {
      padding: 5px 10px;
    }
  }

  @include media($mobile) {
    li, a {
      display: block;
      text-align: center;
    }

    li {
      border-bottom: 1px solid lighten($light-gray-color, 8%);
    }

    a {
      padding: 15px 0;
    }
  }
}

.btn {
  @extend %button;

  &.btn-ghost {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    margin-bottom: 2px;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}

// home hero presentation
body.home {
  width: 100%;
  display: table;
}

.hero {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.hero-inner {
  text-align: center;
  display: inline-block;
  padding: $base-spacing;

  .dot {
    padding: 5px;
    border: 1px solid $light-gray-color;
  }

  h1 {
    margin-top: .7em;
    font-size: rem(40);
  }

  h3 {
    font-size: rem(20);
    margin: .8em 0 1.2em;

    @include media($tablet-up) {
      font-size: rem(24);
    }
  }

  h3, em {
    font-weight: $font-weight-light;
  }

  em {
    color: $primary-color;
  }

  strong {
    font-weight: $font-weight-bold;
  }
}

//
// Articles
//

.post {
  padding: $base-spacing 0;
}

.post-header {
  margin-bottom: $base-spacing;
}

.post-title {
  font-size: rem(26);
  margin-bottom: 0;
  line-height: 1.5em;
}

.post-list {
  .post {
    @extend .card;

    a {
      color: $base-font-color;

      &:hover,
      &:active,
      &:focus {
        color: $primary-color;
      }
    }
  }
}


.social {
  @extend %clearfix;
  padding: $base-spacing 0;

  li {
    display: inline-block;
    padding: 0 ($base-spacing/2.5);
  }

  a {
    color: $medium-gray-color;

    &:hover,
    &:active,
    &:focus {
      color: $primary-color;
    }
  }

  i {
    font-size: 1.2em;
  }
}


.pagination {
  @extend %clearfix;
  text-align: center;
  margin: 2em 0;

  li {
    padding: 0 .4em;
  }

  li, a, span {
    display: inline-block;
  }

  a, span {
    line-height: 1.2em;
    font-size: rem(12);
  }

  .btn {
    color: $base-font-color;
    border-color: rgba($light-gray-color, .8);
  }

  span {
    color: #aaa;
    font-style: italic;
  }
}


/* Site footer */
.site-footer {
  background-color: $white-color;
  border-top: 1px solid rgba($light-gray-color, .5);
  padding: $base-spacing;
  text-align: center;

  p {
    margin: 0;
  }
}

.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,100% {
    transform: rotate(0);
  }

  20%,60% {
    transform: rotate(-25deg);
  }

  40%,80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
