{% highlight c# %}

namespace Company
{
   using DataObjectLayer;

  static void Main(string[] args)
  {
    var company = Dao.request("{{ page.url | replace: 'html', 'json' }}");
    System.Console.WriteLine(company.Name);
    "{{ page.company }}"
    System.Console.WriteLine(company.admissionDate.toString("yyyy-mm-dd"));
    {{ page.admissiondate | date: "%F" }}
    System.Console.WriteLine(company.resignationdate.toString("yyyy-mm-dd"));
    {% assign resignationdate = page.resignationdate | date: "%F" %}
    {% if resignationdate != 'Actual' %}{{ resignationdate | date: "%F" }}{% else %}"{{ resignationdate }}"{% endif %}
    System.Console.WriteLine(company.atributions);
    {{ content | strip | jsonify | replace: "<p>", "" | replace: "</p>", ""| replace: "\n", "" }}
    System.Console.WriteLine(company.languages);
    {{ page.languages | jsonify }}
    System.Console.WriteLine(company.frameworks);
    {{ page.frameworks | jsonify }}
  }
}
{% endhighlight %}