<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include google_analytics.html %}
    <main>
      {% include header.html %}

      <div class="container">
        {{ content }}
      </div>

      {% include footer.html %}

      {% include github-corner.html %}

      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script>
      $(document).ready(function() {
        $('.sliding-panel-button,.sliding-panel-fade-screen,.sliding-panel-close').on('click touchstart',function (e) {
          $('.sliding-panel-content,.sliding-panel-fade-screen').toggleClass('is-visible');
          e.preventDefault();
        });
      });
      </script>
    </main>
  </body>
</html>
