<div class="well well-sm">
  <h4>Company: <strong>{{ page.company }}</strong></h4>
  <span><strong>{{ page.admissiondate | date: "%B %e, %Y" }}</strong></span>
  -
  <span><strong>{{ page.resignationdate | date: "%B %e, %Y" }}</strong></span><br />
  {{ content }}
  <strong>Languages used</strong><br />
  {% for language in page.languages %}
  <span class="label label-warning">{{ language }}</span>
  {% endfor %}
  <br />
  <strong>Frameworks used</strong><br />
  {% for framework in page.frameworks %}
  <span class="label label-info">{{ framework }}</span>
  {% endfor %}
</div>