<a href="mailto:{{ site.author.email }}">&#x2709;</a>
<a href="{{ site.author.gplus }}" title="{{ site.author.gplus }}" alt="{{ site.author.gplus }}" target="_blank"><i class="icon icon-google-plus"></i></a>
<a href="{{ site.author.facebook }}" title="{{ site.author.faceboo'k }}" alt="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a>
<a href="{{ site.author.twitter }}" title="{{ site.author.twitter }}" alt="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a>
<a href="{{ site.author.instagram }}" title="{{ site.author.instagram }}" alt="{{ site.author.instagram }}" target="_blank"><i class="icon icon-instagram"></i></a>
<a href="{{ site.author.github }}" title="{{ site.author.github }}" alt="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i></a>
<a href="{{ site.author.linkedin }}" title="{{ site.author.linkedin }}" alt="{{ site.author.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a>