## Company: CINQ Technologies
<p>August 1, 2015 - Actual</p>
<p>Working in international projects.</p>
<p>Languages: javascript java</p>
<p>Frameworks: DOJO</p>

## Company: Company: End2End Systems
<p>January 1, 2012 - Actual</p>
<p>User centred system development, with fast response, accessability, information archtecture, always looking for innovative solutions.</p>

## Company: Systrac
<p>March 1, 2012 - June 12, 2014</p>
<p>Architecture and development of web based systems for real time tracking vehicles.</p>
<p>Languages: javascript java c# html xml JSON css Delphi</p>
<p>Frameworks: .NET Silverlight WebApi ASP.NET MVC Razor Entity Framework Bootstrap KnockoutJS jQuery</p>
