{% if paginator.total_pages > 1 %}
<nav class="pagination" role="pagination">
  <ul>
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a class="next btn btn-ghost" href="{{ "/blog/" | prepend: site.baseurl }}" title="Articles new">&laquo; Prev</a></li>
      {% else %}
        <li><a class="next btn btn-ghost" href="{{ site.baseurl }}/blog/page/{{ paginator.previous_page }}/" title="Articles new">&laquo; Prev</a></li>
      {% endif %}
    {% endif %}

    <li><span class="page-number">Page {{paginator.page}} of {{paginator.total_pages}}</span></li>

    {% if paginator.next_page %}
      <li><a class="prev btn btn-ghost" href="{{ site.baseurl }}/blog/page/{{ paginator.next_page }}/" title="Articles old">Next &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}